build/
bin/
.classpath
.project
.settings/
.gradle/
logs/
*.swp
*.log
*~
! .gitkeep
.DS_Store
tmp/
PROB_LOGFILE_IS_UNDEFINED
.settings/org.eclipse.jdt.ui.prefs
src/main/resources/build.properties
config.groovy
.cache
.groovy/
src/main/resources/javascript/examples.js
src/main/webapp/js/javascripts_*
src/main/webapp/css/stylesheets_*
src/main/webapp/probcli/
src/main/java/de/prob/web/TimeStamp.java